= form_for @user_t do |f|
  - if @user_t.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_t.errors.count, "error")} prohibited this user_t from being saved:"
      %ul
        - @user_t.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .actions
    = f.submit 'Save'
